.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  width: 90% !important;
  border: #f4f4f4 3px solid !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}
@media screen and (max-width: 340px) {
  #frame1{
    width: 350px;
    margin-left: -20px;

  }
}
@media screen and (max-width: 400px) and (min-width: 341px) {
  #frame1{
    width: 278px;
    margin-left: -20px;

  }
}
@media screen and (max-width: 600px) and (min-width: 401px) {
  #frame1{
    width: 340px;
    margin-left: -20px;

  }
}
/*
jh
*/
/* @media screen and (max-width: 600px) and (min-width:351) {
  #frame1{
    width: 278px;

  }
} */
